#include <windows.h>

// Basic Macro Dialog
BASIC_MACRO_DIALOG DIALOGEX 0, 0, 600, 520
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Basic Macro Configuration"
FONT 9, "Segoe UI"
BEGIN
END

// Image Macro Dialog
IMAGE_MACRO_DIALOG DIALOGEX 0, 0, 600, 490
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Image Detection Macro"
FONT 9, "Segoe UI"
BEGIN
END

// Combo Macro Dialog
COMBO_MACRO_DIALOG DIALOGEX 0, 0, 600, 620
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Combo Macro Configuration"
FONT 9, "Segoe UI"
BEGIN
END
